<sui-sidebar-container class="ui bottom attached" fullscreen>
    <div class="ui top yellow-head attached demo menu">
        <a class="item" (click)="sidebar.toggle()">
          <i class="sidebar icon"></i>
        </a>
        <div class="right item">
            <button class="ui white basic button" (click)="openModal()" >New Request</button>
            <!-- <button *ngIf="!currentUser" class="ui white basic button" routerLink="/login">Login</button> -->
            <!-- <button *ngIf="!currentUser" class="ui white basic button" (click)="auth.signInWithGoogle()">Login</button> -->
        </div>
      </div>
  <sui-sidebar class="vertical" transition="overlay" direction="left"  #sidebar>
    <img src="../../assets/logo_non_transparent.jpg" class="sidebar-logo" alt="">
    <a routerLink="/lend" class="item" (click)="sidebar.close()">Lend Requests</a>
    <a routerLink="/borrow" class="item" (click)="sidebar.close()">Borrow Requests</a>
    <a *ngIf="currentUser" class="item" (click)="auth.signOut();sidebar.close()">Log Out</a>
    <a *ngIf="!currentUser" class="item" (click)="auth.signInWithGoogle();sidebar.close()">Sign In</a>
  </sui-sidebar>
  <sui-sidebar-sibling [isDimmedWhenVisible]="true" class="main-body">
      <router-outlet></router-outlet>
  </sui-sidebar-sibling>
</sui-sidebar-container>
<ng-template let-context let-modal="modal" #mainModal>
    <div class="header">Example</div>
    <div class="content">
  
  <form class="ui form" [formGroup]="newTaskForm">
    <div class="field">
      <label>Type</label>
        <sui-select class="selection"
            formControlName="type"
            #select>
            <sui-select-option value="Lending Offer">Lending Offer</sui-select-option>
            <sui-select-option value="Borrow Request">Borrow Request</sui-select-option>
          </sui-select>

    </div>
    <div class="field">
      <label>Full Name</label>
      <input type="text" name="name" formControlName="name" placeholder="Your Full Name">
    </div>
    <div class="field">
      <label>Title</label>
      <input type="text" name="title" formControlName="title" placeholder="Title">
    </div>
      <div class="field">
        <label>Amount</label>
        <input type="number" name="amount" formControlName="amount" placeholder="Amount">
      </div>
      <div class="field">
        <label>Location</label>
        <input type="text" name="organisation" formControlName="location">
      </div>
      <div *ngIf="newTaskForm.value.type == 'Lending Offer'" class="field">
        <label>Organization</label>
        <input type="text" name="organisation" formControlName="organisation">
      </div>
      <div *ngIf="newTaskForm.value.type == 'Borrow Request'" class="field">
        <label>Aadhar Number</label>
        <input type="text" name="idproof" formControlName="idproof" placeholder="1234-1234-1234">
      </div>
      <div class="field">
          <label>Description</label>
          <textarea rows="2" formControlName="description"></textarea>
        </div>
        <div class="field">
          <label>Your Photo</label>
          <input type="file" name="file" (change)="upload($event)" accept=".png,.jpg" >
        </div>
      <div *ngIf="newTaskForm.value.type == 'Borrow Request'" class="field">
          <sui-checkbox formControlName="immediate">
              I need urgent support
          </sui-checkbox>
      </div>
      
    </form>
    </div>
    <div class="actions">
        <button class="ui red button" (click)="modal.deny('denied')">Cancel</button>
        <button class="ui green button" type="submit" (click)="modal.approve('approved')">Submit</button>
    </div>

    </ng-template>
