.yellow-head{
    background-color: yellow;
    min-height: 50px;
}
.item::before {
    width: 0px !important;

}

.main-body {
    background-color: whitesmoke !important; 
}

sui-sidebar{
    position:  fixed;
}

.vertical{
    top: auto;
    height: 100%
}
