

<div *ngIf="auth.user | async as user" class="ui top yellow-head attached demo menu">
    <a class="item" (click)="sidebar.toggle()">
      <i class="sidebar icon"></i>
    </a>
    <!-- <div class="right item">
      <img class="ui avatar image" [src]="user.photoURL">
  
      <button class="ui red basic button" (click)="auth.signOut()" >Logout</button>
    </div> -->
  </div>
  <sui-sidebar-container class="ui bottom attached segment">
    <sui-sidebar class="vertical" transition="slide along" direction="left" #sidebar>
      <a routerLink="/lend" class="item" (click)="sidebar.close()">Lend Requests</a>
      <a routerLink="/borrow" class="item" (click)="sidebar.close()">Borrow Requests</a>
    </sui-sidebar>
    <sui-sidebar-sibling [isDimmedWhenVisible]="true" class="main-body">
  
      <div class="ui basic segment">
        <router-outlet></router-outlet>
      </div>
    </sui-sidebar-sibling>
  </sui-sidebar-container>
  