<div class="ui container">
  <h1 class="ui header">Borrowers</h1>
  <small>Provide a helping hand</small>
  <div class="ui divided items">
    <div *ngFor="let borrow of borrows.visibleBor$ | async" class="item">
      <div class="ui small image">
        <img *ngIf="!borrow.photo" src="https://semantic-ui.com/images/avatar2/large/kristy.png">
        <img *ngIf="borrow.photo" src="{{borrow.photo}}">
      </div>
      <div class="content">
        <h2 class="header">{{borrow.title}}</h2>
        <div class="meta">
          <span class="amount">Rs. {{borrow.amount}}</span>
        </div>
        <div class="description">
          <p *ngIf="borrow.description">{{borrow.description}}</p>
        </div>
        <div class="extra">
          <span class="by">{{borrow.name}}</span>
          <br>
          <br>
          <button *ngIf="currentUID == 'hvDWUua6LEWXcAOsWUE6oqmS20F2' || currentUID == 'fAnegn1kC4deBY7OZKX1nalNQ0v1'" (click)="borrows.deleterRequest(borrow.key)" class="ui right floated button red"><i class="handshake icon"></i></button>
          <a href="https://wa.me/918094069970/?text={{encoded('I would like to extend my support to ' + borrow.name)}}" target="_blank"
            class="ui right floated primary button">
            Provide Support
            <i class="right chevron icon"></i>
          </a>
          <div *ngIf="borrow.immediate" class="ui label">Urgent</div>
          <div *ngIf="borrow.location" class="ui label">
            <i class="globe icon"></i> {{borrow.location}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
