<div class="ui container">
  <h1 class="ui header">Lenders</h1>
  <small>Request a helping hand from them</small>
  <div class="ui divided items">
    <div *ngFor="let lend of lends.visibleBor$ | async" class="ui item block">
      <div class="image">
        <img *ngIf="!lend.photo" src="https://semantic-ui.com/images/avatar/large/steve.jpg" class="ui large image">
        <img *ngIf="lend.photo" src="{{lend.photo}}" class="ui large image">
      </div>
      <div class="content">
        <h2 class="header">{{lend.title}}</h2>
        <div class="meta">
          <span class="amount">Rs. {{lend.amount}}</span>
        </div>
        <div class="description">
          <p *ngIf="lend.description">{{lend.description}}</p>
        </div>
        <div class="extra">
            <span class="by">By {{lend.name}}</span>
            <span *ngIf="orgainsation" class="orgainsation">{{lend.orgainsation}}</span><br><br>
            <button *ngIf="currentUID == 'hvDWUua6LEWXcAOsWUE6oqmS20F2' || currentUID == 'fAnegn1kC4deBY7OZKX1nalNQ0v1'" (click)="lends.deleterRequest(lend.key)" class="ui right floated button red"><i class="handshake icon"></i></button>
          <a href="https://wa.me/918094069970/?text={{encoded('I would like to request help from ' + lend.name)}}" target="_blank"
            class="ui right floated primary button">
            Request Support
            <i class="right chevron icon"></i>
          </a>
          <div *ngIf="lend.immediate" class="ui label">Urgent</div>
        </div>
      </div>
    </div>
  </div>
